{{ 'section-article.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} > div {
    padding-block-start: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_top }});
    padding-block-end: calc(var(--section-spacing-unit-size) * {{ section.settings.spacing_bottom }});
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="article" itemscope itemtype="https://schema.org/BlogPosting">
    {%- if section.settings.show_breadcrumbs -%}
      <div class="article__breadcrumbs">
        {%- render 'breadcrumbs', alignment: 'center' -%}
      </div>
    {%- endif -%}

    <div class="container max-w-narrow">
      {%- if section.settings.show_category_square -%}
        <ul class="article__tags list-unstyled text-navigation-button">
          <li class="article__tags-item">
            <span>{{ section.settings.page_title_box }}</span>
          </li>
        </ul>
      {%- endif -%}

      <div class="article__head container {{ section.settings.section_width }}">
        <h1 class="article__title h2" itemprop="headline">
          {{ section.settings.page_title }}
        </h1>
      </div>

      <div class="article__hero js-article-hero-media max-w-narrow">
        {%- if section.settings.featured_image != blank -%}
          <div class="article__media media">
            <img src="{{ section.settings.featured_image | img_url: '1200x600' }}" alt="{{ section.settings.page_title }}" loading="lazy" width="1200" height="600">
          </div>
        {%- endif -%}
      </div>

      {%- for block in section.blocks -%}
        <div class="article__content js-article-content container {{ section.settings.section_width }}" {{ block.shopify_attributes }}>
          {%- if block.settings.image != blank -%}
            <div class="article__media media">
              <img src="{{ block.settings.image | img_url: '720x480' }}" alt="{{ block.settings.image.alt | escape }}" loading="lazy" width="720" height="480">
            </div>
          {%- endif -%}
          <div class="article__content-inner">{{ block.settings.content }}</div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Default Content Page",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "default": true,
      "label": "Show breadcrumbs"
    },
    {
      "type": "checkbox",
      "id": "show_category_square",
      "default": true,
      "label": "Page title box"
    },
    {
      "type": "text",
      "id": "page_title_box",
      "label": "Page title box text",
      "default": "{{ page.title }}"
    },
    {
      "type": "text",
      "id": "page_title",
      "label": "Page title",
      "default": "{{ page.title }}"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "Featured image"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        { "value": "max-w-page", "label": "Page width" },
        { "value": "max-w-narrow", "label": "Narrow" },
        { "value": "max-w-fluid", "label": "Full width" }
      ],
      "default": "max-w-narrow",
      "label": "Section width"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color scheme"
    },
    {
      "type": "select",
      "id": "spacing_top",
      "label": "Top spacing",
      "options": [
        { "value": "0", "label": "No" },
        { "value": "1", "label": "S" },
        { "value": "2", "label": "M" },
        { "value": "4", "label": "L" },
        { "value": "6", "label": "XL" }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "Bottom spacing",
      "options": [
        { "value": "0", "label": "No" },
        { "value": "1", "label": "S" },
        { "value": "2", "label": "M" },
        { "value": "4", "label": "L" },
        { "value": "6", "label": "XL" }
      ],
      "default": "2"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Content block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Default Content Page",
      "category": "Custom"
    }
  ]
}
{% endschema %} 